.header-button {
  background-color: transparent !important;
  border: none !important;
}

.header-button:hover {
  background-color: #1ed760 !important;
}

.login-button {
  width: 200px;
  border: none !important;
}

.login-button:hover {
  background-color: #1ed760 !important;
}

.time-button {
  width: 160px;
  border: none !important;
}

.time-button:hover {
  background-color: #1ed760 !important;
}

.active {
  background-color: #1ed760 !important;
  border: none !important;
}
